@model DevBuild2020_Assessment5.Models.DishForm

@{
    ViewData["Title"] = "Bring a dish!";
}

<h1>Bring a Dish</h1>

@{
    if (ViewData["errorMsg"] != null)
    {
        <p><strong>@ViewData["errorMsg"]</strong></p>
    }
}

<form asp-controller="Dish" asp-action="Add" method="post">
    <div class="form-group">
        @Html.LabelFor(m => m.PersonName, new { @class = "control-label" }):
        @Html.EditorFor(m => m.PersonName, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    
    <div>
        @Html.LabelFor(m => m.PhoneNumber):
        @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })

        <br />
    </div>
    <div>
        @Html.LabelFor(m => m.DishName, new { @class = "control-label" }):
        @Html.EditorFor(m => m.DishName, new { htmlAttributes = new { @class = "form-control" } })
        <br />

    </div>
    <div>
        @Html.LabelFor(m => m.DishDescription, new { @class = "control-label" }):
        @Html.EditorFor(m => m.DishDescription, new { htmlAttributes = new { @class = "form-control" } })
        <br />

    </div>
    <div>
        @Html.LabelFor(m => m.Selection, new { @class = "control-label" }):
        @Html.DropDownList("DishOption", new SelectList(Enum.GetValues(typeof(DishSelect))),
            "Select Dish Type", new { @class = "form-control" })
        <br />
    </div>


    <div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
