@model DevBuild2020_Assessment5.Models.RsvpForm
@{
    ViewData["Title"] = "Rsvp";
}

<h1>Registration Complete!</h1>
@Model.FirstName @Model.LastName .
<br />
Email: @Model.Email
<br />
Guest: @Model.Guest
<br />
Attending: @Model.Attending
<br />
